# Rotten Tomatoes Review/Rating Exploration
This notebook contains the code to explore the rotten tomatoes reviews and ratings to see if there is useful information that correlates to revenue.

In [10]:
import pandas as pd
import numpy as np

In [3]:
# load RT data
rt_reviews = pd.read_table("../Data/rt.reviews.tsv", encoding = 'latin-1')

# load RT data
rt_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [21]:
# view missing data/data types info
rt_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [19]:
rt_reviews_clean["rating"].unique()

array(['3/5', nan, 'C', '2/5', 'B-', '2/4', 'B', '3/4', '4/5', '4/4',
       '6/10', '1/4', '8', '2.5/4', '4/10', '2.0/5', '3/10', '7/10', 'A-',
       '5/5', 'F', '3.5/4', 'D+', '1.5/4', '3.5/5', '8/10', 'B+', '9/10',
       '2.5/5', '7.5/10', '5.5/10', 'C-', '1.5/5', '1/5', '5/10', 'C+',
       '0/5', '6', '0.5/4', 'D', '3.1/5', '3/6', '4.5/5', '0/4', '2/10',
       'D-', '7', '1/10', '3', 'A+', 'A', '4.0/4', '9.5/10', '2.5',
       '2.1/2', '6.5/10', '3.7/5', '8.4/10', '9', '1', '7.2/10', '2.2/5',
       '0.5/10', '5', '0', '2', '4.5', '7.7', '5.0/5', '8.5/10', '3.0/5',
       '0.5/5', '1.5/10', '3.0/4', '2.3/10', '4.5/10', '4/6', '3.5',
       '8.6/10', '6/8', '2.0/4', '2.7', '4.2/10', '5.8', '4', '7.1/10',
       '5/4', 'N', '3.5/10', '5.8/10', 'R', '4.0/5', '0/10', '5.0/10',
       '5.9/10', '2.4/5', '1.9/5', '4.9', '7.4/10', '1.5', '2.3/4',
       '8.8/10', '4.0/10', '2.2', '3.8/10', '6.8/10', '7.3', '7.0/10',
       '3.2', '4.2', '8.4', '5.5/5', '6.3/10', '7.6/10', '8.1/10',
       '3.6/5', '2/6', '7.7/10', '1.8', '8.9/10', '8.9', '8.2/10',
       '8.3/10', '2.6/6', '4.1/10', '2.5/10', 'F+', '6.0/10', '1.0/4',
       '7.9/10', '8.7/10', '4.3/10', '9.6/10', '9.0/10', '4.0', '1.7',
       '7.9', '6.7', '8.0/10', '9.2/10', '5.2', '5.9', '3.7', '4.7',
       '6.2/10', '1/6', '8.2', '2.6/5', '3.4', '9.7', '3.3/5', '3.8/5',
       '1/2', '7.4', '4.8', '1.6/5', '2/2', '1-5', '1.0', '4.3/5', '5/6',
       '9.2', '2.7/5', '4.9/10', '3.0', '3.1', '7.8/10', 'F-', '2.3/5',
       '3.0/10', '3/2', '7.8', '4.2/5', '9.0', '7.3/10', '4.4/5',
       '6.9/10', '0/6', 'T', '6.2', '3.3', '9.8', '8.5', '1.0/5', '4.1',
       '7.1', '3 1/2'], dtype=object)

In [ ]:
grades_dict = {'A+': '14/14',
               'A': '13/14',
               'A-': '12/14',
               'B+': '11/14',
               'B': '10/14',
               'B-': '9/14',
               'C+': '8/14',
               'C': '7/14',
               'C-': '6/14',
               'D+': '5/14',
               'D': '4/14',
               'D-': '3/14',
               'F+': '2/14',
               'F': '1/14',
               'F-': '0/14'}

In [17]:
# get numerical value of rating instead of 3/5 etc
rt_reviews_clean = rt_reviews.copy()
rt_reviews_clean["rating_clean"] = rt_reviews_clean["rating"].fillna('0').apply(lambda x: x.split("/")[0])
rt_reviews_clean

,id,review,rating,fresh,critic,top_critic,publisher,date,rating_clean
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018",3
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018",0
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018",0
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017",0
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017",0
...,...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002",0
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005",1
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005",2
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003",2.5
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002",3

In [18]:
rt_reviews_clean["rating_clean"].unique()

array(['3', '0', 'C', '2', 'B-', 'B', '4', '6', '1', '8', '2.5', '2.0',
       '7', 'A-', '5', 'F', '3.5', 'D+', '1.5', 'B+', '9', '7.5', '5.5',
       'C-', 'C+', '0.5', 'D', '3.1', '4.5', 'D-', 'A+', 'A', '4.0',
       '9.5', '2.1', '6.5', '3.7', '8.4', '7.2', '2.2', '7.7', '5.0',
       '8.5', '3.0', '2.3', '8.6', '2.7', '4.2', '5.8', '7.1', 'N', 'R',
       '5.9', '2.4', '1.9', '4.9', '7.4', '8.8', '3.8', '6.8', '7.3',
       '7.0', '3.2', '6.3', '7.6', '8.1', '3.6', '1.8', '8.9', '8.2',
       '8.3', '2.6', '4.1', 'F+', '6.0', '1.0', '7.9', '8.7', '4.3',
       '9.6', '9.0', '1.7', '6.7', '8.0', '9.2', '5.2', '4.7', '6.2',
       '3.4', '9.7', '3.3', '4.8', '1.6', '1-5', '7.8', 'F-', '4.4',
       '6.9', 'T', '9.8', '3 1'], dtype=object)